body{
  margin:0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  background-color: #feffde;
}

div {
  background-color: #feffde;
}
h1{
  margin:0 auto 0 auto;
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
  color:#184d47;
}
h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  color:#184d47;
  padding-bottom: 10px;
}
h3{
  font-family: 'Quicksand', sans-serif;
  color:#184d47;
}
p {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.7rem;
}
a{
font-family: 'Quicksand', sans-serif;
color: white;
margin: 0 10px;
text-decoration: none;
}
a:hover{
  color: #8fd9a8;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 4%;
  margin: 100px auto 100px auto;
}
img {
  display:inline-block;
}
/*classes*/
.topbox {
  background-color: #feffde;
  position:relative;
  padding-top: 200px;
}
.middle-container {
  background-color: #feffde;
  margin: 40px 0;
}
.bottom-container {
  background-color: #52734d;
  margin: 30px 0 0 0;
  padding: 20px 0 20px 0;
}
.intro {
  width:30%;
  margin:auto;
}
.skills{
  margin: 100px auto 100px auto;
}
.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}
.profile{

}
.contact-me {

}
.favicontitle{
  position: absolute;
  right:575px;
  top: 270px;
}
.top-cloud {
  position: absolute;
  right: 350px;
  top: 100px;
}
.bottom-cloud {
  position: absolute;
  left:350px;
  bottom: 300px;
}
.skill-imagemonster {
  width: 25%;
  float: left;
  margin:auto 30px auto auto;
}
.skill-imagemicroscope {
  width: 25%;
  float: right;
  margin:auto auto auto 30px;
}

.profile-pic{
  margin-top: 30px
}
.messageme{
  width: 60%;
  margin: auto auto 40px auto;
}

.btn {
  background: #750827;
  background-image: -webkit-linear-gradient(top, #750827, #ab0336);
  background-image: -moz-linear-gradient(top, #750827, #ab0336);
  background-image: -ms-linear-gradient(top, #750827, #ab0336);
  background-image: -o-linear-gradient(top, #750827, #ab0336);
  background-image: linear-gradient(to bottom, #750827, #ab0336);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d90f4c;
  background-image: -webkit-linear-gradient(top, #d90f4c, #c21146);
  background-image: -moz-linear-gradient(top, #d90f4c, #c21146);
  background-image: -ms-linear-gradient(top, #d90f4c, #c21146);
  background-image: -o-linear-gradient(top, #d90f4c, #c21146);
  background-image: linear-gradient(to bottom, #d90f4c, #c21146);
  text-decoration: none;
}
.footer-paragrapgh{
  color: white;
  font-size: 0.8rem;
  padding: 20px 0;
}
